{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/emotion.css') }}">
{% endblock %}

{% block content %}
<div class="emotion-container">
    <h2 class="detect_emotions-heading">Detecting Emotion...</h2>
    <div id="videoContainer">
        <img id="videoFeed" src="" alt="Video Feed">
    </div>
    <div id="detectedEmotion"></div>
    <div id="popup"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/emotion.js') }}"></script>
{% endblock %}