{% extends "base.html" %}

{% block content %}
<div class="surahs-section">
    <h2 class="surahs-heading">Surahs</h2>
    <div class="search-container">
        <div class="search-wrapper">
            <input type="text" id="surahSearch" placeholder="Search surah by name..." class="search-input">
            <img src="{{ url_for('static', filename='images/searchicon.png') }}" alt="Search Icon" class="search-icon">
            <div id="searchSuggestions" class="search-suggestions"></div>
        </div>
    </div>
    <div id="surahsGrid" class="surahs-grid">
        <!-- Surahs will be loaded here dynamically -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
