{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/select_emotion.css') }}">
{% endblock %}

{% block content %}
<div class="emotions-section">
    <h2 class="emotions-heading">Emotions</h2>
    <div class="emotions-grid">
        <div class="emotion-card" data-emotion="happy">
            <img src="{{ url_for('static', filename='images/happy.jpg') }}" data-static="{{ url_for('static', filename='images/happy.jpg') }}" data-gif="{{ url_for('static', filename='images/happy.gif') }}" alt="Happy" class="emotion-icon">
            <p>Happy</p>
        </div>
        <div class="emotion-card" data-emotion="sad">
            <img src="{{ url_for('static', filename='images/sad.jpg') }}" data-static="{{ url_for('static', filename='images/sad.jpg') }}" data-gif="{{ url_for('static', filename='images/sad.gif') }}" alt="Sad" class="emotion-icon">
            <p>Sad</p>
        </div>
        <div class="emotion-card" data-emotion="angry">
            <img src="{{ url_for('static', filename='images/angry.jpg') }}" data-static="{{ url_for('static', filename='images/angry.jpg') }}" data-gif="{{ url_for('static', filename='images/angry.gif') }}" alt="Angry" class="emotion-icon">
            <p>Angry</p>
        </div>
        <div class="emotion-card" data-emotion="disgust">
            <img src="{{ url_for('static', filename='images/disgust.jpg') }}" data-static="{{ url_for('static', filename='images/disgust.jpg') }}" data-gif="{{ url_for('static', filename='images/disgust.gif') }}" alt="Disgust" class="emotion-icon">
            <p>Disgust</p>
        </div>
        <div class="emotion-card" data-emotion="surprise">
            <img src="{{ url_for('static', filename='images/surprise.jpg') }}" data-static="{{ url_for('static', filename='images/surprise.jpg') }}" data-gif="{{ url_for('static', filename='images/surprise.gif') }}" alt="Surprise" class="emotion-icon">
            <p>Surprise</p>
        </div>
        <div class="emotion-card" data-emotion="fear">
            <img src="{{ url_for('static', filename='images/fear.jpg') }}" data-static="{{ url_for('static', filename='images/fear.jpg') }}" data-gif="{{ url_for('static', filename='images/fear.gif') }}" alt="Fear" class="emotion-icon">
            <p>Fear</p>
        </div>
        <div class="emotion-card" data-emotion="neutral">
            <img src="{{ url_for('static', filename='images/neutral.jpg') }}" data-static="{{ url_for('static', filename='images/neutral.jpg') }}" data-gif="{{ url_for('static', filename='images/neutral.gif') }}" alt="Neutral" class="emotion-icon">
            <p>Neutral</p>
        </div>
    </div>
    <h2 class="emotions-heading">Feelings</h2>
    <div class="emotions-grid">
        <div class="emotion-card" data-emotion="depressed">
            <p>Depression</p>
        </div>
        <div class="emotion-card" data-emotion="anxiety">
            <p>Anxiety</p>
        </div>
        <div class="emotion-card" data-emotion="stress">
            <p>Stress</p>
        </div>
        <div class="emotion-card" data-emotion="pain">
            <p>Pain</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/select_emotion.js') }}"></script>
{% endblock %}