{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/select_emotion.css') }}">
{% endblock %}

{% block content %}
<div class="emotions-section">
    <h2 class="emotions-heading">EMOTIONS</h2>
    <div class="emotions-grid">
        <div class="emotion-card" data-emotion="happy">
            <img src="{{ url_for('static', filename='images/happy.jpg') }}" data-static="{{ url_for('static', filename='images/happy.jpg') }}" data-gif="{{ url_for('static', filename='images/happy.gif') }}" alt="Happy" class="emotion-icon">
            <p>HAPPY</p>
        </div>
        <div class="emotion-card" data-emotion="sad">
            <img src="{{ url_for('static', filename='images/sad.jpg') }}" data-static="{{ url_for('static', filename='images/sad.jpg') }}" data-gif="{{ url_for('static', filename='images/sad.gif') }}" alt="Sad" class="emotion-icon">
            <p>SAD</p>
        </div>
        <div class="emotion-card" data-emotion="angry">
            <img src="{{ url_for('static', filename='images/angry.jpg') }}" data-static="{{ url_for('static', filename='images/angry.jpg') }}" data-gif="{{ url_for('static', filename='images/angry.gif') }}" alt="Angry" class="emotion-icon">
            <p>ANGRY</p>
        </div>
        <div class="emotion-card" data-emotion="disgust">
            <img src="{{ url_for('static', filename='images/disgust.jpg') }}" data-static="{{ url_for('static', filename='images/disgust.jpg') }}" data-gif="{{ url_for('static', filename='images/disgust.gif') }}" alt="Disgust" class="emotion-icon">
            <p>DISGUST</p>
        </div>
        <div class="emotion-card" data-emotion="surprise">
            <img src="{{ url_for('static', filename='images/surprise.jpg') }}" data-static="{{ url_for('static', filename='images/surprise.jpg') }}" data-gif="{{ url_for('static', filename='images/surprise.gif') }}" alt="Surprise" class="emotion-icon">
            <p>SURPRISE</p>
        </div>
        <div class="emotion-card" data-emotion="fear">
            <img src="{{ url_for('static', filename='images/fear.jpg') }}" data-static="{{ url_for('static', filename='images/fear.jpg') }}" data-gif="{{ url_for('static', filename='images/fear.gif') }}" alt="Fear" class="emotion-icon">
            <p>FEAR</p>
        </div>
        <div class="emotion-card" data-emotion="neutral">
            <img src="{{ url_for('static', filename='images/neutral.jpg') }}" data-static="{{ url_for('static', filename='images/neutral.jpg') }}" data-gif="{{ url_for('static', filename='images/neutral.gif') }}" alt="Neutral" class="emotion-icon">
            <p>NEUTRAL</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/select_emotion.js') }}"></script>
{% endblock %}